<% 
if (questions.length > 0) {
	questions.forEach(function (question) { 
%>
<ul class="breadcrumb">
    <li> <%- question.content %> </li>
</ul>
<ul class="breadcrumb2" style="font-size:12px;">
    <li> <a href="<%- question.author_link %>" target="_blank"> <%- question.author %> </a> 创建于 <%- question.answer_datetime %> </li>
</ul>
<% 
});
} else {
 %>
<p class="alert alert-block alert-info">
            <strong>No Answer were found.</strong>
        </p>
<% } %>
